<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tabla Nuevo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <a href="/">Productos de Hogar</a>
        <a href="/nuevo">Nuevo</a>
    </header>
    <div class="container">
        <h1>Tabla Nuevo</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        &copy; 2023 Ing. Byron A. Caal | Analisis de Sistemas UMG 
    </footer>
</body>
</html>
